<div id="streams">
</div>
<script type="text/javascript">
$(function() {
  var socket = io.connect('http://localhost:8080');
  socket.on('stream', function (data) {
    console.log(data);
    if (data.text) {
      displayTweet(data);
    };
  });
  
  function displayTweet(data) {
    var user = data.user;
    
    var profileImage = $("<img>").attr({src: user.profile_image_url, alt: user.screen_name});
    var icon = $("<div>").addClass("profile-image").append(profileImage);
    
    var screenName = $("<div>").addClass("screen-name").text(user.screen_name);
    var tweet = $("<div>").addClass("tweet").text(data.text);
    var message = $("<div>").addClass("message").append(screenName).append(tweet);
    
    $("<div>").addClass("entry").append(icon).append(message).prependTo("#streams");
  }
});
</script>
